<!DOCTYPE html>
<html>
  <head>
    <title>CrashDataV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container">
		<div class="row">
    	<%= render partial: 'layouts/navbar', locals: { crashes: @crashes } %>
    	<%= yield %>	
			</div>
		</div>
  </body>
</html>
